---
title: Подвески со знаками зодиака
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<main class="main">
	<div class="container">

		{{mixin.breadcrumbs()}}

		<div class="page-title">
			<h1 class="h1">{{title}}</h1>
		</div>

		<div class="filter-sm__wrap">
			<ul class="filter-sm">
				<li class="filter-sm__item js-filter-sm-item">
					Вид украшения
					<div class="filter-sm__dropdown">
						<ul class="filter-sm__inner">
						{% import "data/data.html" as filterItem %}
						{% for item in filterItem.filter %}
							<li class="filter-sm__inner-item">{{item.view}}</li>
						{% endfor %}
						</ul>
					</div>
				</li>
				<li class="filter-sm__item js-filter-sm-item">
					Метал
				<div class="filter-sm__dropdown">
					<ul class="filter-sm__inner">
					{% import "data/data.html" as filterItem %}
					{% for item in filterItem.filter %}
						<li class="filter-sm__inner-item">{{item.metal}}</li>
					{% endfor %}
					</ul>
				</div>
				</li>
				<li class="filter-sm__item js-filter-sm-item">
					Вставка
					<div class="filter-sm__dropdown">
						<ul class="filter-sm__inner">
						{% import "data/data.html" as filterItem %}
						{% for item in filterItem.filter %}
							<li class="filter-sm__inner-item">{{item.insert}}</li>
						{% endfor %}
						</ul>
					</div>
				</li>
				<li class="filter-sm__item js-filter-sm-item">
					Бренд
					<div class="filter-sm__dropdown">
						<ul class="filter-sm__inner">
						{% import "data/data.html" as filterItem %}
						{% for item in filterItem.filter %}
							<li class="filter-sm__inner-item">{{item.brand}}</li>
						{% endfor %}
						</ul>
					</div>
				</li>
			</ul>
			<a href="javascript:void(0);" class="filter-sm__btn js-filter-open"><span>Расширенный фильтр</span></a>
		</div>

		<div class="sorting__wrap">
			<ul class="sorting">
				<li class=" sorting__item sorting__item_title js-filter-sorting">Сортировать по:</li>
				<li class="sorting__item js-filter-sorting">по популярности</li>
				<li class="sorting__item js-filter-sorting is-active">возрастанию цены</li>
				<li class="sorting__item js-filter-sorting"> убыванию цены</li>
			</ul>
		</div>

	</div>
	
	<section class="catalog">
		<div class="container">

			{{item.product()}}
			{{item.product()}}
			{{item.product()}}
			{{item.product()}}

		</div>

		<div class="container">
			<div class="paginator">
				<ul class="paginator__list">
					<li class="paginator__item">1</li>
					<li class="paginator__item is-active">2</li>
					<li class="paginator__item">3</li>
					<li class="paginator__item">4</li>
					<li class="paginator__item">5</li>
					<li class="paginator__item">6</li>
					<li class="paginator__item">7</li>
				</ul>
			</div>
		</div>	

	</section>

	<section class="seo-text catalog__seo-text">
		<div class="container">
			<h2 class="seo-text__title">Золотые украшения Sanangel</h2>
			<p class="seo-text__desc">Символы зодиакального круга всегда наделялись охранной силой для своего обладателя. Выбери оригинальную подвеску со своим знаком зодиака и не расставайся с ней. Самые модные, яркие и оригинальные драгоценности из благородных металлов, инкрустированные россыпью сияющих камней, только у нас!</p>
			<p class="seo-text__desc">Символы зодиакального круга всегда наделялись охранной силой для своего обладателя. Выбери оригинальную подвеску со своим знаком зодиака и не расставайся с ней. Самые модные, яркие и оригинальные драгоценности из благородных металлов, инкрустированные россыпью сияющих камней, только у нас!</p>
			<p class="seo-text__desc">Символы зодиакального круга всегда наделялись охранной силой для своего обладателя. Выбери оригинальную подвеску со своим знаком зодиака и не расставайся с ней. Самые модные, яркие и оригинальные драгоценности из благородных металлов, инкрустированные россыпью сияющих камней, только у нас!</p>
			<div class="seo-text__readnext btn_next">Далее</div>
		</div>
	</section>	

	

	{% include "partials/_filter.html" %}

</main>

{% include "partials/_footer.html" %}

{% endblock %}
