---
title: Контакты
---
{% extends "layouts/_contacts_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<div class="container">{{mixin.breadcrumbssuccess()}}</div>
<!-- begin main -->
<main class="main">
	<h1 class="page-title">{{title}}</h1>
	
	<div class="container">
		<nav class="about-nav">
			<div class="about-nav__list">
				<li class="about-nav__item"><a href="#" class="about-nav__link">О нас</a></li>
				<li class="about-nav__item"><a href="#" class="about-nav__link">Наши бренды</a></li>
				<li class="about-nav__item"><a href="#" class="about-nav__link">Новости</a></li>
				<li class="about-nav__item is-active"><a href="#" class="about-nav__link">Контакты</a></li>
			</div>
		</nav>
	</div>
	
	<div class="map__wrap">
		<div id="map" class="map"></div>
		<button class="btn btn_shops js-map-shops">магазины</button>
		<div class="map__text">
			<div class="sa-close js-map-text-close">{{mixin.icon('close')}}</div>
			<h3 class="map__title">Магазины в</h3>
			<div class="map__city">
				<div class="city js-city-hover">
					<span class="city__title">Балаково</span>
					<div class="city__inner">
						<ul class="city-dropdown">
							{% import "data/data.html" as cities %}
							{% for city in cities.citieslist %}
							<li class="city-dropdown__item">{{city.title}}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
			<div class="map__shops">
				<div class="map-shop">
					<h4 class="map-shop__title">Тц, ГринХаус, Салон Sunangel</h4>
					<span class="map-shop__place">ул. Трнавская, 24</span>
					<span class="map-shop__phone"><i class="fa fa-phone-square"></i>+7 (999) 000-00-00</span>
					<span class="map-shop__time"><i class="fa fa-clock-o"></i>10:00 — 20:00</span>
					<a href="" class="map-shop__link">Показать на карте</a>
				</div>
			</div>
			<div class="map__shops">
				<div class="map-shop">
					<h4 class="map-shop__title">Тц, Оранж, Салон Sunangel</h4>
					<span class="map-shop__place">ул. Волжская, 4</span>
					<span class="map-shop__phone"><i class="fa fa-phone-square"></i>+7 (999) 000-00-00</span>
					<span class="map-shop__time"><i class="fa fa-clock-o"></i>10:00 — 20:00</span>
					<a href="" class="map-shop__link">Показать на карте</a>
				</div>
			</div>
		</div>
	</div>
</main>
<!-- end main -->




{% include "partials/_footer.html" %}

{% endblock %}
