---
title: Новости
---
{% extends "layouts/_contacts_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<!-- begin main -->
<main class="main main_news">

<div class="container">	
	<!-- begin breadcrumbs -->
	<ul class="breadcrumbs">
		<li class="breadcrumbs__item breadcrumbs__item_back"><a href="javascript:void(0);" class="breadcrumbs__link"><i class="fa fa-long-arrow-left"></i>Назад</a></li>
		<li class="breadcrumbs__item"><a href="javascript:void(0);" class="breadcrumbs__link">Главная</a></li>
		<li class="breadcrumbs__item">Новости</li>
	</ul>
	<!-- end breadcrumbs -->
</div>

<h1 class="page-title">{{title}}</h1>

<!-- begin news -->
<section class="news">
	<div class="container">
		<!-- begin about-nav -->
		<nav class="about-nav">
			<ul class="about-nav__list">
				<li class="about-nav__item"><a href="#" class="about-nav__link">О нас</a></li>
				<li class="about-nav__item"><a href="#" class="about-nav__link">Наши бренды</a></li>
				<li class="about-nav__item is-active"><a href="#" class="about-nav__link">Новости</a></li>
				<li class="about-nav__item"><a href="#" class="about-nav__link">Контакты</a></li>
			</ul>
		</nav>
		<!-- end about-nav -->

		<div class="news-item__wrap">
			{{item.newsitem()}}
			{{item.newsitem()}}
		</div>

		<div class="news-item__wrap">
			{{item.newsitem('news-item_small')}}
			{{item.newsitem('news-item_small')}}
			{{item.newsitem('news-item_small')}}
			{{item.newsitem('news-item_small')}}
		</div>

		<div class="news__buttons"><buton class="btn btn_reset">показать еще</buton></div>

	</div>
</section>
<!-- end news -->
	
</main>
<!-- end main -->




{% include "partials/_footer.html" %}

{% endblock %}
