.filter
	position: fixed
	top: 0
	width: 1350px
	right: 0
	bottom: 0
	background-color: $color-bg-dark-lighten
	overflow-y: auto
	transform: translateX(250%)
	z-index: 999
	+tr(.5s)
	+r(1350)
		right: 0
		width: 100%
	+r(1024)
		height: 100vh
	&.is-open
		transform: translateX(0)
	//filter__wrap
	&__wrap	
		background-color: #FFF
		&.is-fixed
			position: fixed
			top: 0
			left: 0
			width: 100%
			z-index: 98
			box-shadow: 0 0 40px 1px rgba($color-bg-darken, .3);
		+r(480)
			display: none !important
	//filter__inner
	&__inner
		padding: 0 250px 0 95px
		+clr
		+r(1024)
			padding: 0 0 0 100px
		+r(480)
			padding-left: 30px
	//filter__close
	&__close
		width: 52px
		height: 52px
		+br(3px)
		border: 1px solid $color-text-btn
		background-color: $color-bg-dark
		position: absolute
		top: 66px
		right: 200px
		+r(768)
			right: 95px
		+r(480)
			width: 38px
			height: 38px
			right: 30px
			top: 18px
			.icon
				margin-top: 3px
		.icon
			margin-top: 10px
	//filter__top
	&__top
		position: fixed
		top: 0
		left: 0
		width: 100%
		height: 130px
		z-index: 10
		+r(1024)
			height: 125px
		+r(480)
			height: 70px
	//filter__content
	&__content
		padding: 30px 0
		position: fixed
		top: 130px
		bottom: 130px
		left: 0
		right: 0
		overflow: auto
		// +my-scroll
		+r(1024)
			top: 125px
			bottom: 125px
		+r(480)
			top: 70px
			bottom: 70px
	//filter__bottom
	&__bottom
		position: fixed
		bottom: 0
		left: 0
		width: 100%
		height: 130px
		border-top: 1px solid $color-bg-dark
		z-index: 10
		+clr
		+r(1024)
			height: 125px
		+r(480)
			height: 70px
	//filter__title
	&__title
		width: 145px
		height: 25px
		font-family: encore-50
		font-size: rem(36)
		line-height: 130px
		text-transform: uppercase
		color: $color-text-light
		letter-spacing: 2.61px
		+r(480)
			line-height: 70px
	//filter__logo
	&__logo
		display: inline-block
		vertical-align: middle
		float: right
		color: $color-bg-dark
		font-family: encore-300
		text-transform: uppercase
		font-size: rem(90)
		line-height: 130px
		position: relative
		right: -120px
		+r(1024)
			font-size: rem(58)
			line-height: 125px
		+r(768)
			float: none
			font-size: rem(42)
			right: 0
		+r(480)
			display: none
	//filter__action
	&__action
		display: inline-block
		vertical-align: middle
		line-height: 130px
		+r(1024)
			line-height: 125px
		+r(480)
			line-height: 70px
	//filter__btn
	&__btn
		vertical-align: middle
		margin-right: 45px
		+r(480)
			margin-right: 15px
			min-width: auto
			padding: 12px 35px
		+r(320)
			margin-right: 10px
			padding: 10px 25px
	//filter__checkbox
	&__checkbox
		input
			&:checked
				.filter-item__dropdown
					display: block

.filter-item
	&__wrap
		+clr
	//filter-item__title
	&__title
		display: block
		margin-bottom: 25px
		font-family: encore-200
		font-size: rem(18)
		color: $color-brown
	//filter-item__item
	&__item
		&_showmore
			display: inline-block !important
			padding-right: 25px
			position: relative
			&::before
				content: '\f107'
				font-family: FontAwesome
				display: block
				position: absolute
				top: 0
				right: 0
			&:hover
				color: $color-brown
	//filter-item__dropdown
	&__dropdown
		display: none
		margin-top: 15px
		.checkbox
			padding-left: 27px
			position: relative
			&::after
				content: ''
				display: block
				width: 10px
				height: 40px
				border-bottom: 1px solid $color-text-btn
				border-left: 1px solid $color-text-btn
				position: absolute
				top: -28px
				left: -25px
			&:first-child
				&::after
					height: 15px
					top: -3px
			span
				left: -7px
	&__list
		&_color
			width: 150px

//filtr-sm__reset
.filter-sm
	text-align: center
	+r(480)
		display: none
	//filter-sm__wrap
	&__wrap
		text-align: center
		position: relative
		padding: 15px 0
		border-bottom: 1px solid $color-border
		background-color: #fff
		+clr
	//filter-sm__inner
	&__inner
		text-align: left
		max-height: 400px
		overflow: hidden
	//filter-sm__item
	&__item
		display: inline-block
		vertical-align: middle
		position: relative
		padding: 2px 40px 2px 15px
		cursor: pointer
		position: relative
		+br(2px)
		+tr(.35s)
		&::after
			content: '\f107'
			font-family: FontAwesome
			font-size: 16px
			color: #b8b8b8
			display: inline-block
			position: absolute
			top: 1px
			right: 20px
		&:last-child
			&::after
				display: none
		&:hover
			.filter-sm__dropdown
				visibility: visible
				opacity: 1
				-webkit-filter: none
				filter: none
				display: block!important
				top: 30px
				pointer-events: auto
		
		&.is-active
			color: $color-accent
			.filter-sm__dropdown
				visibility: visible
				opacity: 1
				-webkit-filter: none
				filter: none
				display: block!important
				top: 30px
				pointer-events: auto

		&.is-checked
			color: $color-text-btn
			border: 1px solid $color-brown
			background-color: $color-brown-lighten
			&::after
				display: none
			.filter-sm__dropdown
				display: none !important
			.filter-sm__reset
				display: block
			.filter-sm__choose
				display: inline-block
		&:hover
			color: $color-accent
			
		+r(480)
			padding-left: 8px
			&:first-child
				padding-left: 0
		+r(480)
			padding-left: 0
	//filtr-sm__reset
	&__reset
		display: none
		padding-left: 7px
		position: absolute
		top: 2px
		right: 8px
		border-left: 1px solid $color-brown
		&::after
			content: '\f00d'
			font-family: FontAwesome
			color: $color-accent
	//filtr-sm__choose
	&__choose
		display: none
		padding-left: 5px
	//filter-sm__dropdown
	&__dropdown
		padding: 15px 10px
		position: absolute
		top: 40px
		left: 20px
		min-width: 230px
		max-width: 300px
		background-color: $color-bg-darken
		z-index: 99
		box-shadow: 0 0px 30px 1px rgba(#000, .5)
		+beforearr($color-bg-darken, t, 12, 6)
		pointer-events: none
		visibility: hidden
		opacity: 0
		filter: alpha(opacity=0)
		transition: opacity 150ms linear, top 150ms linear, bottom 150ms linear, visibility 150ms linear
		&::before
			left: 15px
			margin-left: 0
		.filter-item
			width: 100%
			margin: auto
			float: none
			text-align: left
			.checkbox
				font-family: encore-100, sans-serif
				color: rgba(#fff, 0.7)
				&:last-child
					margin-bottom: 0
				&.is-disable
					color: rgba(#fff, 0.3)
					&:hover
						.text
							color: rgba(#fff, 0.3)
						.check
							border-color: $color-text-btn

		//filter-sm__dropdown-item
		&-item
			padding: 5px 10px
			cursor: pointer
			color: $color-text
			white-space: nowrap
			+text-overflow
			&:hover
				background-color: $color-brown-lighten
	//filter-sm__btn
	&__btn
		display: inline-block
		vertical-align: middle
		margin-right: 10px
		padding-right: 30px
		position: relative
		+tr(.35s)
		&::after
			content: ''
			display: inline-block
			vertical-align: middle
			position: absolute
			top: 7px
			right: 0
			+s(filtr-btn)
		+r(768)
			span
				display: none
			&::after
				top: -7px
		+r(480)
			position: fixed
			left: 0
			bottom: 0
			top: auto
			width: 100%
			z-index: 115
			background-color: $color-text-btn
			padding: 10px 0
			text-transform: uppercase
			text-align: center
			color: #fff
			&::after
				display: none
			&.is-menu-open				
				+r(1200)
					left: 320px
				+r(320)
					left: 271px