=beforearr($color: #fff, $direction: t, $width: 12, $height: 6)
	&::before
		content: ''
		display: block
		+arr($width, $height, $color, $direction)
		position: absolute
		top: -6px
		left: 50%
		margin-left: -6px
//header
.header
	color: $color-text
	border-bottom: 1px solid $color-border
	+r(480)
		border-bottom: none
	&__top-line
		+r(480)
			height: 50px
			text-align: center
			background-color: #FFF
			border-bottom: 1px solid $color-border
			width: 100%
			z-index: 99
			transform: translateX(0)
			transition: transform .5s ease
			position: fixed
			&.is-menu-open
				transform: translateX(320px)
		+r(320)
			&.is-menu-open
				transform: translateX(271px)
	&__bottom
		position: relative
		margin-bottom: 45px
		+clr
		+r(480)
	&__social
		margin-bottom: 30px
		padding-bottom: 25px
		border-bottom: 1px solid #3b3629
		+clr
		.social
			&__link
				.fa
					color: $color-text-light
					+tr(.35s)
				&:hover
					.fa
						color: $color-accent-two
			&__list
				display: inline-block
				vertical-align: middle
				float: right
				text-align: right
				+r(375)
					float: none
				&_icon
					margin: 0
					padding: 0
			&__item
				& + .social__item
					margin-left: 15px

.city
	display: inline-block
	margin: 10px 0 25px 30px
	font-family: encore-300
	font-size: rem(14)
	color: rgba($color-text, .7)
	border-bottom: 1px dashed rgba($color-text, .7)
	position: relative
	cursor: pointer
	transition: color .35s ease
	+r(480)
		display: none
	&::before, &::after
		display: inline-block
		font-family: fontawesome
		position: absolute
		top: 0
	&::before
		content: '\f041'
		left: -20px
	&::after
		content: '\f107'
		font-size: rem(16)
		right: -20px
		top: -1px
	&:hover
		color: $color-brown
		border-color: $color-brown
	&.is-active
		color: $color-brown
		border-bottom-color: transparent
		.city__inner
			visibility: visible
			opacity: 1
			filter: none
			display: block!important
			top: 23px
			pointer-events: auto

	&__inner		
		position: absolute
		top: 33px
		left: -20px
		right: -20px
		background-color: #FFF
		+bs(0 0 30px 1px rgba($color-text, .5))
		z-index: 10
		pointer-events: none
		visibility: hidden
		opacity: 0
		filter: alpha(opacity=0)
		transition: opacity 150ms linear, top 150ms linear, bottom 150ms linear, visibility 150ms linear
		&::before
			content: ''
			display: block
			+arr(12,6, #fff, t)
			position: absolute
			top: -6px
			left: 50%
			margin-left: -6px


.city-dropdown
	overflow-y: auto
	max-height: 170px
	&__item
		display: block
		padding: 0 5px
		color: rgba($color-text, .7)
		+text-overflow
		&:hover
			background-color: $color-brown-lighten


	&__item
		display: block
		line-height: 1.5

.phone
	font-family: oswald-500
	font-size: rem(18)
	color: $color-text
	text-transform: uppercase
	letter-spacing: .33px

.callback
	display: inline-block
	vertical-align: middle
	padding-top: 10px
	position: relative
	+r(1200)
		padding-left: 55px
	+r(480)
		width: auto
		float: none
		margin-right: 0
		padding: 0
		position: fixed
		top: 12px
		right: 35px
		z-index: 99
	&__time
		margin-left: 20px
		color: rgba($color-text, .7)
		font-family: oswald-300
		font-size: rem(16)
		+r(1024)
			margin-left: 10px
		+r(992)
			display: none
	&__phone
		padding-left: 30px
		position: relative
		&::before
			content: ''
			display: inline-block
			position: absolute
			top: 3px
			left: 0
			+sprite(phone)
		+r(480)
			padding: 0
			span
				display: none
			&::before
				top: 2px
				left: 5px
	&__link
		display: inline-block
		margin-left: 35px
		font-family: encore-300, sans-serif
		font-size: rem(14)
		font-weight: 300
		letter-spacing: 0.25px
		border-bottom: 1px solid rgba($color-text, .4)
		+r(480)
			display: none
		&:hover
			color: $color-brown
			border-color: $color-brown

.logo
	display: inline-block
	vertical-align: middle
	text-align: center
	img	
		width: 290px
		margin: 0 auto
	+r(768)
		img
			width: 230px
	+r(480)
		display: none
	.icon
		width: auto
		height: 73px

	img
		margin: 0 auto
		+r(1200)
			margin-left: 13%
		+r(1024)
			margin: 0 auto
	//logo_mobile
	&_mobile
		display: none
		font-family: encore-400, sans-serif
		font-size: rem(18)
		text-transform: uppercase
		line-height: 50px
		img
			width: 150px
			height: 50px
		+r(480)
			display: inline-block

.action
	display: inline-block
	vertical-align: middle
	padding-top: 10px
	text-align: right
	+r(1200)
		text-align: center
	+r(992)
		text-align: right
	+r(768)
		text-align: center
	+r(480)
		display: block
		padding-bottom: 20px
		width: auto
		float: none
		text-align: center
	&__link
		.icon
			+tr(.35s)
			&:hover
				fill: $color-accent
	&__item
		display: inline-block
		position: relative
		&:hover
			> .action__dropdown
				visibility: visible
				opacity: 1
				-webkit-filter: none
				filter: none
				display: block
				top: 40px
				pointer-events: auto
		& + &
			margin-left: 50px
			+r(768)
				margin-left: 30px
		.icon
			display: inline-block
			width: 22px
			height: 22px
			fill: #606060
			+r(480)
				width: 18px
				height: 18px
			&-cart
				width: 25px
				height: 25px
				+r(480)
					width: 18px
					height: 18px
			&-favorite
				width: 24px
				height: 24px
				+r(480)
					width: 18px
					height: 18px

		.sa-input 
			&__placeholder
				top: 25px
				padding-right: 15px

	&__dropdown
		min-width: 320px
		width: 460px
		padding: 0 30px 35px
		text-align: left
		position: absolute
		top: 55px
		left: 0
		z-index: 99
		background-image: url("../img/general/dropdown-bg.png")
		background-repeat: no-repeat
		background-position: top left
		pointer-events: none
		visibility: hidden
		opacity: 0
		filter: alpha(opacity=0)
		transition: opacity 100ms linear, top 100ms linear, bottom 100ms linear, visibility 100ms linear
		+beforearr(#393939, t, 22, 11)
		&::before
			top: -11px
			margin-left: -11px
		.sa-close
			display: block !important
		+r(480)			
			display: none !important
	&__title
		margin-bottom: 40px
		padding-top: 30px
		font-family: encore-50, sans-serif
		font-size: rem(36)
		text-align: center
		letter-spacing: 0.26px
		color: $color-text

.search
	text-align: center
	&__desc
		display: block
		margin-bottom: 25px
		color: $color-text
		font-family: encore-300
		font-size: rem(14)
		line-height: 18px
	.action
		&__dropdown
			left: 50%
			transform: translateX(-50%)
	.sa-input 
		padding-right: 40px
		&__box
			.icon-search
				position: absolute
				top: 18px
				right: 15px
				cursor: pointer
				+tr(.35s)
				&:hover
					fill: $color-accent

//Mobile Search
+r(480)
	.mobile-search
		position: absolute
		top: -200%
		left: 0
		width: 100%
		+tr(.35s)
		&.is-visible
			top: 0
		.sa-input
			padding-right: 40px
			+br(0)
			+placeholder
				font-size: 14px
		.icon
			position: absolute
			top: 50%
			right: 10px
			width: 23px
			height: 23px
			margin-top: -11.5px
			fill: $color-accent

//User
.user
	.action
		+rmin(481)
			&__dropdown
				left: -15px
				transform: translateX(-50%)
				&::before
					left: 55.7%
		+r(1200)
			left: auto
			transform: translateX(12%)
			right: 100%
			&::before
				left: auto
				right: 32px

//Social
.social
	&__title
		display: inline-block
		vertical-align: middle
		text-align: left
		font-family: encore-300, sans-serif
		font-size: 16px
		line-height: 18px
		color: $color-text
		+r(375)
			display: block
			margin-bottom: 15px
	&__item
		display: inline-block
		& + &
			margin-left: 30px
	&__list
		&_icon
			display: block
			margin-bottom: 27px
			padding-top: 10px

		&_communications
			display: block
			margin-bottom: 15px

//Auth
.auth
	.is-active
		color: $color-accent
	&__tabs
		margin-bottom: 25px
	&__tab
		font-family: encore-300, sans-serif
		font-size: rem(16)
		color: $color-text-light
		border-bottom: 1px dashed rgba($color-text-light, .5)
		margin-right: 35px
		cursor: pointer
		+tr(.35s)
		&:last-child
			margin-right: 0
		&:hover
			color: $color-accent
	&__item
		.sa-input
			&__placeholder
				color: $color-text-light
				font-family: encore-300, sans-serif
				font-size: rem(18)
	&__desc
		display: block
		margin: 30px 0
		color: $color-text
		font-size: rem(14)
		line-height: 1.3

	&__email
		+r(480)
			display: none

.not-registered
	margin-top: 30px
	&__title
		display: block
		margin-bottom: 20px
		font-size: rem(14)
		line-height: 1.3
		color: $color-accent
	.btn
		margin-top: 45px

//Favorite
.favorite
	.action
		&__dropdown
			left: auto
			right: 0
			transform: translateX(25%)
			&::before
				left: auto
				right: 116px
			+r(1200)
				transform: translateX(7%)
				&::before
					right: 33px
			.nicescroll-rails
				left: 456px !important
	&__img
		width: 150px
		margin: 0 auto 40px
		img
			margin: 0 auto
	&__desc
		display: block
		margin-bottom: 30px
		text-align: center
		font-size: rem(14)
		line-height: 1.3
		color: $color-brown
	&__inner
		max-height: 300px
		overflow-y: auto
	

//Cart
.cart
	.action
		&__dropdown
			left: auto
			right: 100%
			transform: translateX(13%)
			&::before
				left: auto
				right: 35px
			+r(1200)
				transform: translateX(8%)
				&::before
					right: 12px
			.nicescroll-rails
				left: 456px !important
	&__inner
		max-height: 300px
		overflow-y: auto

	&__link
		position: relative
		span
			width: 18px
			height: 18px
			line-height: 18px
			background-color: $color-brown-lighten
			+br(50%)
			text-align: center
			font-family: oswald-600
			font-size: rem(11)
			color: $color-brown
			position: absolute
			top: -20px
			right: -6px
	&__action
		padding-top: 30px
		border-top: 1px solid $color-text-btn
	&__summ
		float: right
		margin-right: 57px
		display: inline-block
		vertical-align: bottom
		text-align: right
		color: $color-accent
		font-family: oswald-500
		font-size: rem(24)
		line-height: 1
		+clr
		span
			display: block
			margin-bottom: 12px
			color: $color-brown
			font-family: encore-400, sans-serif
			font-size: rem(16)
		.btn
			vertical-align: bottom
		.rub
			color: $color-accent

//Cart-item
.cart-item
	margin-bottom: 30px
	position: relative
	+clr
	&__img
		float: left
		width: 60px
		height: 60px
		margin-right: 20px
	&__text
		float: left
		display: inline-block
		vertical-align: middle
		width: 150px
		font-size: 14px
		text-align: left
		line-height: 1.3
		color: $color-text-light
	&__price
		display: inline-block
		float: right
		margin-right: 52px
		padding-top: 21px
		font-family: oswald-300
		font-size: rem(16)
		line-height: 1.3
		color: $color-accent
		.rub
			color: $color-accent
	&__del
		display: inline-block
		width: 32px
		height: 32px
		text-align: center
		border-radius: 3px
		border: 1px solid $color-text-btn
		background-color: $color-bg-dark
		cursor: pointer
		+tr(.35s)
		position: absolute
		top: 50%
		right: 0
		margin-top: -16px
		.icon
			width: 14px
			padding-top: 8px
			fill: $color-text
			+tr(.35s)
		&:hover
			border-color: #877c5f
			.icon
				fill: $color-accent

//header-catalog
.header-catalog
	height: 70px
	position: fixed
	left: 0
	top: -150%
	width: 100%
	background-color: #FFF
	z-index: 115
	+tr(.35s)
	+clr
	&.is-visible
		top: 0
	&__logo
		display: inline-block
		vertical-align: middle
		line-height: 70px
		width: 150px
		margin-right: 60px
		margin-left: 15px
		+r(1024)
			margin-right: 40px
	&__callback
		display: inline-block
		vertical-align: middle
		float: right
		margin-right: 60px
		line-height: 70px
		+r(1024)
			margin-right: 40px
		+r(768)
			display: none
	&__menu
		display: inline-block
		line-height: 70px
		margin-left: 27px
		+r(1024)
			margin-left: 0
	&__item
		display: inline-block
		vertical-align: middle
		& + &
			margin-left: 30px
	.action
		width: auto
		display: inline-block
		vertical-align: middle
		float: right
		padding-top: 19px
		&__item
			& + .action__item
				+r(1024)
					margin-left: 30px
		&__dropdown
			left: auto
			right: -20px
			transform: translateX(0)
			&::before
				left: auto
				right: 20px
	.user
		.action
			&__dropdown
				left: auto
				right: -20px
				transform: translateX(0)
				&::before
					left: auto
					right: 20px
