.user-enter
	.sa-close		
		position: absolute
		top: 42px
		right: 28px
	+rmin(480)
		.sa-close
			display: none
	+r(480)
		position: fixed
		top: 0
		left: 0
		height: 100%
		width: 100%
		z-index: 999
		background-color: $color-bg-dark-lighten
		display: block
		overflow-y: auto
		transform: translateX(-250%)
		+tr(.5s)
		&.is-open
			transform: translateX(0)
		.not-registered__form
			padding-bottom: 30px

//howsize
.popup
	min-width: 319px
	width: 460px
	+my-scroll
	+r(425)
		width: 95%
		padding: 30px 10px
	+r(320)
		min-width: 315px
	//popup_lg
	&_lg
		padding: 30px
		max-width: 560px
		width: auto
		+r(480)
			max-width: 320px
			padding: 15px
	//popup__inner
	&__inner
		display: flex
		justify-content: space-between
	//popup__img
	&__img
		display: inline-block
		width: 120px
		margin-right: 30px
		+r(480)
			margin-right: 10px
	//popup__number
	&__number
		color: $color-accent
		font-family: encore-hl, sans-serif
		font-size: rem(120)
		font-weight: 400
		letter-spacing: 6px
		+r(480)
			font-size: rem(65)
			letter-spacing: 4px
		span
			font-size: rem(38)
			+r(480)
				font-size: rem(20)
	&__title
		margin-bottom: 30px
		color: $color-text
		font-family: encore-50, sans-serif
		font-size: rem(36)
		text-align: center
	&__desc
		display: block
		margin-bottom: 40px
		font-family: encore-300, sans-serif
		font-size: rem(14)
		color: $color-text-light
	.extra-item
		position: relative
		margin-bottom: 30px
		padding: 0 35px 0 0
		color: $color-brown-lighten
		border-bottom: 1px dashed $color-text
		&:hover, &.is-visible
			color: $color-accent
		&::after
			content: '\f107'
			font-family: FontAwesome
			color: $color-text
			position: absolute
			top: 1px
			right: 0

		&__dropdown
			left: 211px
			z-index: 999
			.size__item	
				color: $color-text	
				&:hover
					color: #fff
			+r(480)
				left: 45px
				&::before
					left: auto
					right: 19px
			+r(375)
				&::before
					right: 60px
	//popup .btn_popup
	.btn_popup
		+r(480)
			min-width: auto
			width: 100%
			margin-bottom: 15px

.howsize
	&__result
		margin-top: 30px
		padding-top: 25px
		border-top: 1px solid $color-text-btn
		color: $color-brown
		font-family: encore-100, sans-serif
		font-size: rem(16)
		span
			color: $color-accent
			font-family: oswald-500
			font-size: rem(24)

//callback
#callback
	.popup
		&__desc
			margin-bottom: 0
			color: $color-text
	.btn
		margin: 40px 0 20px

//promocode
.promocode
	&__inner
		justify-content: space-between
		display: flex
		+clr
		+r(480)
			flex-wrap: wrap
	.btn
		display: inline-block
		&_checkout
			margin-bottom: 15px
			color: $color-text-btn
			&::after
				color: $color-text-btn
				&:hover
					color: $color-text-btn
#promocode
	.sa-input
		padding: 18px 25px 8px
		&__box
			width: 70%
			margin-right: 50px
			+r(480)
				width: 100%
				margin: auto
	.popup
		&__title
			margin-bottom: 0
			color: $color-brown-lighten
			font-family: encore-50, sans-serif
			font-size: rem(38)
			letter-spacing: 2.17px
			text-transform: uppercase
			+r(480)
				font-size: rem(28)
				letter-spacing: 1px
			span
				color: $color-brown
				font-size: rem(26)
				letter-spacing: 3.48px
				+r(480)
					font-size: rem(22)
					letter-spacing: 2px
		&__img
			+r(480)
				width: 80px
		&__desc
			display: block
			margin-top: 30px
			color: $color-text
			font-size: rem(14)
		&__buttons
			width: 50%
			margin-left: auto
			text-align: center
			+r(480)
				width: 100%
				margin: auto

//SLAE
#sale
	.popup
		&__inner
			margin-top: 30px
			+r(480)
				flex-wrap: wrap
				margin-top: 15px
		&__title
			margin-bottom: 0
			color: $color-brown-lighten
			font-family: encore-50, sans-serif
			font-size: rem(38)
			letter-spacing: 2.17px
			text-transform: uppercase
			+r(480)
				font-size: rem(28)
				letter-spacing: 1px
			span
				color: $color-brown
				font-size: rem(26)
				letter-spacing: 3.48px
				+r(480)
					font-size: rem(22)
					letter-spacing: 2px
		&__img
			width: 40%
			+r(480)
				width: 65%
				margin: 0 auto 30px
		&__desc
			color: $color-brown
			font-size: rem(14)
			+r(480)
				margin-bottom: 20px
		&__buttons
			text-align: center
			.btn
				&_trans
					margin-bottom: 15px
					&::after
						right: 25px
					&:hover
						&::after
							right: 15px
					+r(480)
						margin-bottom: 10px
				&_int
					text-align: left
					padding-left: 20px
					&::before
						left: 0
					+r(480)
						min-width: auto
						width: auto
	.promocode__inner
		width: 45%
		margin-left: auto
		display: flex
		flex-direction: column
		+r(480)
			width: 100%
			text-align: center

//#basket-in
#basket-in, #favorite-in
	.popup
		&__title
			+r(480)
				font-size: rem(24)
	