---
title: Три модных образа для современной невесты
---
{% extends "layouts/_contacts_layout.html" %}

{% block content %}

{% include "partials/_header.html" %}

<!-- begin main -->
<main class="main main_news">

	<div class="container">	
		<!-- begin breadcrumbs -->
		<ul class="breadcrumbs">
			<li class="breadcrumbs__item breadcrumbs__item_back"><a href="javascript:void(0);" class="breadcrumbs__link"><i class="fa fa-long-arrow-left"></i>Назад</a></li>
			<li class="breadcrumbs__item"><a href="javascript:void(0);" class="breadcrumbs__link">Главная</a></li>
			<li class="breadcrumbs__item">Статьи</li>
		</ul>
		<!-- end breadcrumbs -->
	</div>

	<!-- begin news-i -->
	<section class="news-i">
		<div class="container">

			<div class="news-i__head" style="background-image: url(img/news/news-title.jpg);">
				<div class="news-i__text">
					<h1 class="news-i__title">{{title}}</h1>
					<span class="news-item__date">25 октебря 2017</span>
				</div>
			</div>

		</div>

		<div class="news-i__desc">
			<div class="container_md">
				<p>Как три столетия назад юная Мария Антуанетта не боялась противоречить правилам королевского двора, так и современные невесты ломают стереотипы, создавая яркие и индивидуальные образы.</p>
			</div>
		</div>

		<div class="news-i__main">
			<div class="container_sm">
				<p>Для свадебной фотосессии в журнале Wedding Vibes популярный блогер, стилист и героиня весеннего Trend Book SOKOLOV Марианна Елисеева выбрала не классическое белое, а пудровое платье с верхом из полупрозрачного кружева в сочетании с высокой прической, дополнив их минималистичными серьгами-гвоздиками и помолвочным кольцом.</p>

				<div class="slider__wrap slider-news">
					<div class="slider js-news-slider">
						<div>{{mixin.img(670, 385)}}</div>
						<div>{{mixin.img(670, 385)}}</div>
						<div>{{mixin.img(670, 385)}}</div>
						<div>{{mixin.img(670, 385)}}</div>
					</div>
					<div class="slider__dots"></div>
				</div>


				<p>Второй вариант — брючный костюм — один из фаворитов на подиумах весенних Недель моды. Благодаря пастельному оттенку и вуалетке, он идеально подходит для создания свадебного образа с ноткой французского шика. Длинные серьги прекрасно дополняют выбранный наряд.</p>

				{{mixin.img(670, 385)}}

				<p>Для свадебной фотосессии в журнале Wedding Vibes популярный блогер, стилист и героиня весеннего Trend Book SOKOLOV Марианна Елисеева выбрала не классическое белое, а пудровое платье с верхом из полупрозрачного кружева в сочетании с высокой прической, дополнив их минималистичными серьгами-гвоздиками и помолвочным кольцом. Для свадебной фотосессии в журнале Wedding Vibes популярный блогер, стилист и героиня весеннего Trend Book SOKOLOV Марианна Елисеева выбрала не классическое белое, а пудровое платье с верхом из полупрозрачного кружева в сочетании с высокой прической, дополнив их минималистичными серьгами-гвоздиками и помолвочным кольцом.</p>

				<p>Фотосессии в журнале Wedding Vibes популярный блогер, стилист и героиня весеннего Trend Book SOKOLOV Марианна Елисеева выбрала не классическое белое, а пудровое платье с верхом из полупрозрачного кружева в сочетании с высокой прической, дополнив их минималистичными серьгами-гвоздиками и помолвочным кольцом.</p>

				<blockquote>
					Как три столетия назад юная Мария Антуанетта не боялась противоречить правилам королевского двора, так и современные невесты ломают стереотипы, создавая яркие и индивидуальные образы.
					<span itemprop="author" itemscope itemtype="http://schema.org/Person">Марианна Елисеева</span>
				</blockquote>

				<h3>Мария Антуанетта не боялась противоречить <br> правилам королевского двора</h3>

				<p>Для свадебной фотосессии в журнале Wedding Vibes популярный блогер, стилист и героиня весеннего Trend Book SOKOLOV Марианна Елисеева выбрала не классическое белое, а пудровое платье с верхом из полупрозрачного кружева в сочетании с высокой прической, дополнив их минималистичными серьгами-гвоздиками и помолвочным кольцом. Для свадебной фотосессии в журнале Wedding Vibes популярный блогер, стилист и героиня весеннего Trend Book SOKOLOV Марианна Елисеева выбрала не классическое белое, а пудровое платье с верхом из полупрозрачного кружева в сочетании с высокой прической, дополнив их минималистичными серьгами-гвоздиками и помолвочным кольцом.</p>

				<p>Фотосессии в журнале Wedding Vibes популярный блогер, стилист и героиня весеннего Trend Book SOKOLOV Марианна Елисеева выбрала не классическое белое, а пудровое платье с верхом из полупрозрачного кружева в сочетании с высокой прической, дополнив их минималистичными серьгами-гвоздиками и помолвочным кольцом.</p>
			</div>
		</div>

		<!-- begin social -->
		<div class="container_sm">
			<div class="social">
				<span class="social__title">Поеделится:</span>
				<ul class="social__list">
					<li class="social__item"><a href="#" class="social__link"><i class="fa fa-facebook"></i> </a></li>
					<li class="social__item"><a href="#" class="social__link"><i class="fa fa-twitter"></i> </a></li>
					<li class="social__item"><a href="#" class="social__link"><i class="fa fa-vk"></i> </a></li>
					<li class="social__item"><a href="#" class="social__link"><i class="fa fa-google-plus"></i></a></li>
					<li class="social__item"><a href="#" class="social__link"><i class="fa fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
		<!-- end social -->

	</section>
	<!-- end news-i -->

	<!-- begin interested -->
	<section class="interested">
		<div class="container">

			<h1 class="h1 section-title">Вам будет интересно</h1>

			<div class="news-item__wrap">
				{{item.newsitem('news-item_small')}}
				{{item.newsitem('news-item_small')}}
				{{item.newsitem('news-item_small')}}
				{{item.newsitem('news-item_small')}}
			</div>

			<div class="news__buttons"><buton class="btn btn_reset">показать еще</buton></div>

		</div>		
	</section>
	<!-- end interested -->

	<!-- begin about-nav -->
	<div class="container">
		<nav class="about-nav about-nav__news-i">
			<ul class="about-nav__list">
				<li class="about-nav__item"><a href="#" class="about-nav__link">О нас</a></li>
				<li class="about-nav__item"><a href="#" class="about-nav__link">Наши бренды</a></li>
				<li class="about-nav__item is-active"><a href="#" class="about-nav__link">Новости</a></li>
				<li class="about-nav__item"><a href="#" class="about-nav__link">Контакты</a></li>
			</ul>
		</nav>
	</div>
	<!-- end about-nav -->
	
</main>
<!-- end main -->




{% include "partials/_footer.html" %}

{% endblock %}
