@import helpers/all
@import includes/all
@import generated/sprite-png
// @import generated/sprite-svg

//mixins
=my-scroll
	+scrollbar
		width: 5px
	+scrollbar-track
	+scrollbar-thumb
		background-color: $color-brown
	+scrollbar-track-piece


html, body
	height: 100%

body
	position: relative
	min-width: 320px
	font-family: $base-font-family
	font-size: $base-font-size
	color: $color-text
	line-height: 1.5
	overflow-x: hidden
	+my-scroll
	&.is-fixed
		position: fixed
		width: 100%
		height: 100%
		overflow: hidden

h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6
	font-family: encore-100, sans-serif
	color: $color-text

.h1
	font-size: rem(36)
	+r(480)
		font-size: rem(28)

.h5
	font-family: oswald-300
	font-size: rem(14)
	color: #fff
	letter-spacing: 2.8px
	text-transform: uppercase
a
	color: rgba($color-text, .7)
	text-decoration: none
	+tr(.35s)
	&:hover
		color: $color-brown
		text-decoration: none

p
	font-family: encore-300, sans-serif
	font-size: rem(16)
	color: $color-text-lighten

.page-title
	text-align: center
	padding: 55px 0
	+r(480)
		padding: 10px 0 35px

img ,.img-responsive
	display: block
	max-width: 100%
	height: auto

//rouble
.rub
	font-family: rouble
	font-style: normal

.hidden
	display: none 

.wrapper
	position: relative
	z-index: 10
	background-color: #fff
	+r(1200)
		transform: translateX(0)
		overflow: auto
		+tr(.5s)
	+r(480)
		padding-top: 75px

	&.is-menu-open
		overflow: hidden
		+r(1200)
			transform: translateX(320px)
		+r(320)
			transform: translateX(271px)

.bg--dark
	background-color: $color-bg-darken
	// background-color: $color-bg-dark
	&_lighten
		background-color: $color-bg-dark-lighten
	h1,.h1,h2,.h2,h3,.h3,h5,.h5,h6,.h6
		color: $color-brown
	h4,.h4
		color: $color-text
	.h5
		color: rgba($color-brown, .75)
	// p
	// 	color: $color-text-bg-dark
	.btn
		color: $color-text-btn
		background-color: $color-brown
		&:hover
			color: $color-text-btn
			background-color: $color-brown-lighten

	.fa, .phone
		color: rgba(#fff, .75)
		&:hover
			color: $color-brown-lighten
	.footer
		&__logo
			color: #f0f0f0
		&__desc
			color: #555

	.sa-input
		border: 1px solid  #3b3629
		background-color: $color-input-bg--dark
		&__placeholder
			font-size: rem(14)
			color: $color-brown-lighten
			letter-spacing: 0.25px
		&__box
			&.is-focus
				.js-sa-input
					border-color: $color-border-bg--dark

//Buttons
.btn
	display: inline-block
	min-width: 195px
	padding: 15px 35px
	margin-right: 50px
	text-align: center
	font-family: oswald-400, sans-serif
	font-size: 14px
	letter-spacing: 1px
	color: $color-text-btn
	text-transform: uppercase
	background-color: $color-brown
	+br(4px)
	+tr(.35s)
	&:hover
		text-decoration: none
		color: $color-text-btn
		background-color: $color-brown-lighten

//Custom Input
.sa-input
	display: block
	padding: 23px 25px 10px
	width: 100%
	font-family: encore-300, sans-serif
	font-size: rem(18)
	letter-spacing: 0.33px
	color: $color-brown
	border-radius: 3px
	border: 1px solid $color-border
	background-color: #fff
	&__box
		display: block
		position: relative
		& + &
			margin-top: 15px
		&.is-focus
			.icon
				fill: $color-accent
			.sa-input
				&__placeholder
					font-family: encore-200, sans-serif
					color: #b8b8b8
					font-size: rem(13)
					top: 5px

	&__placeholder
		text-align: left
		font-family: encore-300, sans-serif
		font-size: rem(18)
		letter-spacing: 0.33px
		color: $color-text-light
		position: absolute
		left: 25px
		top: 25px
		right: 25px
		+text-overflow
		+tr(.5s)

//Loading
.loading
	display: none
	position: fixed
	top: 0
	left: 0
	right: 0
	height: 4px
	z-index: 999
	&__inner
		width: 80%
		position: absolute
		top: 0
		left: 0
		bottom: 0
		background-color: $color-accent

.sa-close
	display: inline-block
	width: 32px
	height: 32px
	text-align: center
	border-radius: 3px
	border: 1px solid $color-text-btn
	background-color: $color-bg-dark
	cursor: pointer
	position: absolute
	top: 42px
	right: 28px
	+tr(.35s)
	.icon
		width: 22px
		height: 22px
		line-height: 32px
		padding-top: 8px
		fill: $color-text
		+tr(.35s)
	&:hover
		border-color: #877c5f
		.icon
			fill: $color-accent

//Breadcrumbs
.breadcrumbs
	padding: 10px 0 11px
	&__item
		display: inline-block
		vertical-align: middle
		color: #b8b8b8
		font-size: rem(14)
		&::after
			display: inline-block
			padding: 0 20px
			vertical-align: middle
			content: '\f105'
			font-family: FontAwesome
			font-size: 13px
			+r(425)
				padding: 0 10px
		&_back
			margin-right: 65px
			+r(480)
				margin-right: 35px
			+r(375)
				margin-right: 15px
			&::after
				display: none
			.fa
				margin-right: 15px
				+r(375)
					margin-right: 5px
		&:last-child
			&::after
				display: none
		span
			margin-left: 30px
			position: relative
			&::after
				content: ''
				display: inline-block
				height: 1px
				width: 12px
				background-color: #b8b8b8
				position: absolute
				top: 50%
				margin-top: -.5px
				left: -21px

	&__link
		font-size: 15px
		color: #b8b8b8
		&:hover
			color: $color-brown



@import layouts