.bx-wrapper
	box-shadow: none
	border: none
	background: #fff
	position: relative
	img
		@extend %i

.slider__wrap
	.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager
		position: absolute
		bottom: -30px
		width: auto
		left: 50%
		transform: translateX(-50%)
	.bx-wrapper
		.bx-controls-direction
			a
				text-indent: initial
				top: auto
				margin-top: 9px
				width: auto
				height: auto

		.bx-prev, .bx-next
			background: none
			width: auto
			height: auto
			.fa
				font-size: 18px
				color: $color-text-lighten
		.bx-prev
			left: 42%
		.bx-next
			right: 42%
.product
	.bx-wrapper
		left: 65px
		+r(480)
			left: 0
		img
			margin: 0 auto
		.bx-prev, .bx-next
			display: none

//fancybox
.fancybox-slide
	+my-scroll
	> div
		padding: 30px
		margin: 0
		background-color: $color-bg-darken
		overflow: initial
		+r(480)
			padding: 15px 30px 30px

.fancybox-close-small
	&::after 
		content: '×'
		top: 5px
		right: 5px
		width: 30px
		height: 30px
		font-family: encore-400, sans-serif
		font-size: 24px
		color: $color-accent
		background: transparent
		+br(0)
	&:hover
		&::after
			background-color: transparent
			color: $color-accent

#nprogress
	z-index: 999
	.spinner
		display: none
	.bar
		background-color: $color-accent
	.peg
		box-shadow: none