.bx-wrapper
	box-shadow: none
	border: none
	background: #fff
	position: relative
	left: 65px
	.img
		position: relative
		left: -60px
	.bx-prev, .bx-next
		background: none
		&::after
			content: '\f117'
			font-family: FontAwesome
			font-size: 22px
			position: absolute
			top: 0
			left: 0
			color: #000

//fancybox
.fancybox-slide
	+my-scroll
	> div
		padding: 30px
		margin: 0
		background-color: $color-bg-darken
		overflow: initial

.fancybox-close-small
	&::after 
		content: '×'
		top: 5px
		right: 5px
		width: 30px
		height: 30px
		font-family: encore-400, sans-serif
		font-size: 24px
		color: $color-accent
		background: transparent
		+br(0)
	&:hover
		&::after
			background-color: transparent
			color: $color-accent