.bx-wrapper
	box-shadow: none
	border: none
	background: #fff
	position: relative
	img
		@extend %i

.slider__wrap
	.bx-wrapper .bx-controls-auto, .bx-wrapper .bx-pager
		position: absolute
		bottom: -30px
		width: auto
		left: 50%
		transform: translateX(-50%)
	.bx-wrapper
		.bx-controls-direction
			a
				text-indent: initial
				top: auto
				margin-top: 9px
				width: auto
				height: auto

		.bx-prev, .bx-next
			background: none
			width: auto
			height: auto
			.fa
				font-size: 18px
				color: $color-text-lighten
		.bx-prev
			left: 42%
		.bx-next
			right: 42%
.product
	.bx-wrapper
		left: 65px
		+r(480)
			left: 0
		img
			margin: 0 auto
		.bx-prev, .bx-next
			display: none

//fancybox
.fancybox-slide
	+my-scroll
	> div
		padding: 30px
		margin: 0
		background-color: $color-bg-darken
		overflow: initial

.fancybox-close-small
	&::after 
		content: '×'
		top: 5px
		right: 5px
		width: 30px
		height: 30px
		font-family: encore-400, sans-serif
		font-size: 24px
		color: $color-accent
		background: transparent
		+br(0)
	&:hover
		&::after
			background-color: transparent
			color: $color-accent

//Slick Slider
.product-slider
	.slick-slide
		+r(480)
			padding: 0 15px
	.slick-next, .slick-prev
		display: none !important
		top: auto
		bottom: -30px
		width: 30px
		z-index: 999
		&::before
			font-size: 28px
			color: $color-text
	.slick-next
		right: 39%
	.slick-prev
		left: 39%
	.slick-dots
		li
			padding: 0 5px
			margin: 0 15px
			position: relative
			color: rgba(#616161, .5)
			font-family: oswald-500
			font-size: 14px
			&::after
				content: '0'
				font-family: oswald-500
				display: block
				font-size: 14px
				color: rgba(#616161, .5)
				position: absolute
				top: 0
				left: -3px
			&::before
				content: '/'
				color: rgba(#616161, .5)
				display: block
				position: absolute
				top: 0
				right: -13px
			&:last-child
				&::before
					display: none
			&.slick-active
				color: #616161
				font-family: oswald-500
				font-size: 14px
				&::after
					color: #616161