@import includes/grids

//base
.container
	+container
	+r(1200)
		padding: 0 10px

	&_md
		max-width: 850px
		width: 98%
		margin: 0 auto
	&_sm
		max-width: 670px
		width: 98%
		margin: 0 auto


//Header
.callback
	+span(4)

.logo
	+span(4)

.action
	+span(4)
	margin-right: 0

//Filter
.filter-item
	+span(4)
	margin-bottom: 30px
	+clr
	&:nth-child(3n)
		margin-right: 0
	+r(768)
		+span(full)
		&:nth-child(3n)
			margin-right: gutter()

//Footer
.footer-item
	+span(2)
	&_logo
		+span(3)
	&_social
		+span(3)
		margin-right: 0

	+r(768)
		margin: 0 auto 30px
		+span(4)
		&:last-child
			margin-right: 0
		&_logo
			+span(6)
		&_info
			order: 3
		&_buyers
			order: 4
		&_comp
			order: 5
			margin-right: 0
		&_social
			order: 2
			+span(6)
			margin-right: 0
	+r(480)
		width: 100%
		text-align: center
		&:last-child
			margin-bottom: 0
		&_info
			order: initial
		&_buyers
			order: initial
		&_comp
			order: initial
			margin-right: initial
		&_social
			order: initial
			margin-right: initial

//Catalog Item
.product-item
	width: 25%
	float: left
	+r(1024)
		+span(4)
		margin-bottom: gutter()
		&:nth-child(3n)
			margin-right: 0
	+r(480)
		float: none
		width: 300px !important
		margin: 0 auto 30px
		&:nth-child(3n)
			margin-right: auto

//Product
.product
	&-img
		+span(6)
		+r(480)
			width: 100%
	&-text
		+span(6)
		margin-right: 0
		+r(480)
			width: 100%	

.product-desc__item
	+span(5)
	margin-right: 80px
	&:nth-child(2)
		+span(4)
	&:nth-child(3)
		+span(2)
		margin-right: 0	
	+r(768)
		width: 100%
		margin-right: gutter()
		margin-bottom: 30px
		&:nth-child(2)
			+span(6)
		&:nth-child(3)
			+span(6)
			margin-right: 0	
	+r(480)
		&:nth-child(2)
			+span(7)
		&:nth-child(3)
			+span(5)
			margin-right: 0
	+r(375)
		&:nth-child(2)
			+span(full)
		&:nth-child(3)
			+span(full)

//advantages
.advantages__item
	+span(3)
	&:last-child
		margin-right: 0
	+r(480)
		+span(6)
		margin-bottom: 170px
		&:last-child
			margin-right: gutter()
			margin-bottom: 0
		&:nth-child(2n)
			margin-right: 0
		&:nth-child(3)
			margin-bottom: 0

//recently
.recently
	&__item
		+span(3)
		&:last-child
			margin-right: 0
		+r(480)
			+span(6)
			margin-bottom: 30px
			&:nth-child(3n)
				margin-right: 0
		+r(320)
			width: 100%
			&:nth-child(2n)
				margin-right: gutter()

//news-item
.news-item
	+span(6)
	&:last-child
		margin-right: 0
	+r(480)
		+span(full)
		&:last-child
			margin-right: gutter()
	//news-item_small
	&_small
		+span(3)
		&:last-child
			margin-right: 0
		+r(768)
			+span(4)
			&:nth-child(3n)
				margin-right: 0
		+r(480)
			+span(6)
			&:nth-child(3n)
				margin-right: gutter()			
			&:nth-child(2n)
				margin-right: 0
		+r(375)
			+span(full)		
			&:nth-child(2n)
				margin-right: gutter()
