<div class="filter">
	<div class="filter__top">
		<div class="filter__inner">
			<h2 class="filter__title">Фильтр</h2>
			<span class="sa-close filter__close js-filter-close">{{mixin.icon('close')}}</span>
		</div>			
	</div>
	<div class="filter__content">
		<div class="filter__inner filter__content_inner">
			<div class="filter-item">
				<span class="filter-item__title">Вид украшения</span>
				<div class="filter-item__list">

					<label class="filter-item__part">
						<span class="text">Подвески</span>
						<input type="checkbox">
						<span class="check"></span>

						<div class="filter-item__dropdown">
							<label class="filter-item__part">
								<span class="text">Подвески</span>
								<input type="checkbox">
								<span class="check"></span>
							</label>
							<label class="filter-item__part">
								<span class="text">Подвески</span>
								<input type="checkbox">
								<span class="check"></span>
							</label>
							<label class="filter-item__part">
								<span class="text">Подвески</span>
								<input type="checkbox">
								<span class="check"></span>
							</label>
						</div>
					</label>

					<span class="filter-item__part filter-item__item_showmore">Показать еще</span>
				</div>
			</div>

		</div>
	</div>
	<div class="filter__bottom">
		<div class="filter__inner">
			<div class="filter__action">
				<button class="btn filter__btn">Применить</button>
				<button class="btn btn_reset filter__reset">Сбросить фильтры</button>
			</div>
			<h3 class="filter__logo">sunangel</h3>
		</div>
	</div>
</div>