<!-- begin footer -->
<footer class="footer bg--dark">

	<div class="container">

		<div class="footer-item__wrap">
			<div class="footer-item footer-item_logo">
				<a href="/" class="footer__logo">sunangel</a>
				<p class="footer__desc">Ювелирная компания «Sunangel». Информация, размещённая на данной странице, не является публичной офертой. <span>&copy;2013 — 2017</span> </p>
			</div>
			<div class="footer-item footer-item_info">
				<h5 class="h5">информация</h5>
				<ul class="footer-list">
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Бесплатная доставка</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Подарочная упаковка</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Покупка в кредит</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Подарочные сертификаты</a>
					</li>
				</ul>
			</div>
			<div class="footer-item footer-item_buyers">
				<h5 class="h5">покупателям</h5>
				<ul class="footer-list">
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Уничтожитель сомнений</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Условия продажи</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Условия обмена и возврата</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Гарантия качества</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Клуб привелегий</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Скупка обмен</a>
					</li>
				</ul>
			</div>
			<div class="footer-item footer-item_comp">
				<h5 class="h5">о компании</h5>
				<ul class="footer-list">
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">О нас</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Новости</a>
					</li>
					<li class="li footer-list__item">
						<a class="footer-list__link" href="#">Наши бренды</a>
					</li>
				</ul>
			</div>
			<div class="footer-item footer-item_social">
				<div class="social">
					<ul class="social__list social__list_icon">
						<li class="social__item"><a href="#" class="social__link"><i class="fa fa-facebook"></i> </a></li>
						<li class="social__item"><a href="#" class="social__link"><i class="fa fa-twitter"></i> </a></li>
						<li class="social__item"><a href="#" class="social__link"><i class="fa fa-vk"></i> </a></li>
						<li class="social__item"><a href="#" class="social__link"><i class="fa fa-google-plus"></i></a></li>
						<li class="social__item"><a href="#" class="social__link"><i class="fa fa-instagram"></i></a></li>
					</ul>
					<ul class="social-list social-list_communications">
						<li class="social__item social__item_text"><a href="#" class="social__link">Whatsap</a></li>
						<li class="social__item social__item_text"><a href="#" class="social__link">Viber</a></li>
						<li class="social__item social__item_text"><a href="#" class="social__link">Telegram</a></li>
					</ul>
					<a href="#" class="phone footer__phone">+7 937 221-34-43</a>
				</div>
			</div>
		</div>

	</div>
</footer>
<!-- end footer -->
