	<!-- begin header-catalog -->
	<div class="header-catalog js-header-catalog">
		<div class="container">

			<div class="header-catalog__logo">
				<a href="/" class="logo__link">
					<img src="img/general/logo_mobile.svg" alt="Logo" itemprop="logo">
				</a>
			</div>

			<nav class="header-catalog__menu">
				<ul class="header-catalog__list">
					<li class="header-catalog__item"><a href="#" class="header-catalog__link">Каталог</a></li>
					<li class="header-catalog__item"><a href="#" class="header-catalog__link">Доставка и оплата</a></li>
					<li class="header-catalog__item"><a href="#" class="header-catalog__link">Отзывы</a></li>
				</ul>
			</nav>

			{% include "partials/_header_action.html" %}

			<div class="header-catalog__callback">
				<a href="tel: +79372213443" class="callback__phone phone" itemprop="telephone"><span>+7 937 221-34-43</span></a>
			</div>

		</div>
	</div>
	<!-- end header-catalog -->
