<!-- begin header -->
<header class="header" itemscope itemtype="http://schema.org/WPHeader">

	<!-- begin header__top-line -->
	<div class="header__top-line">
		<div class="container">
			<div class="city js-city-hover">
				Балаково
				<div class="city__inner">
					<ul class="city-dropdown">
						{% import "data/data.html" as cities %}
						{% for city in cities.citieslist %}
						<li class="city-dropdown__item">{{city.title}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>

			<div class="logo_mobile">
				<a href="/" class="logo__link">
					<img src="img/general/logo_mobile.svg" alt="Logo" itemprop="logo">
				</a>
			</div>

		</div>
	</div>
	<!-- end header__top-line -->

	<!-- begin header__bottom -->
	<div class="header__bottom">
		<div class="container">
			<div class="callback">
				<a href="tel: +79372213443" class="callback__phone phone" itemprop="telephone"><span>+7 937 221-34-43</span></a>
				<span class="callback__time">с 9:00 до 21:00</span>
				<a href="#callback" class="callback__link js-fancybox">Перезвоните мне</a>
			</div>

			<div class="logo">
				<a href="/" class="logo__link">
					<img src="img/general/logo.svg" alt="Logo" itemprop="logo">
				</a>
			</div>

			{% include "partials/_header_action.html" %}

		</div>
	</div>
	<!-- end header__bottom -->	

	{% include "partials/_menu.html" %}
	
</header>
<!-- end header -->
