<!-- begin header -->
<header class="header" itemscope itemtype="http://schema.org/WPHeader">

	<div class="logo_mobile">
		<a href="/" class="logo__link">
			<img src="img/general/logo_mobile.svg" alt="Logo" itemprop="logo">
		</a>
	</div>

	<!-- begin header__top-line -->
	<div class="header__top-line">
		<div class="container">
			<div class="city js-city-hover">
				Балаково
				<div class="city__inner">
					<ul class="city-dropdown">
						{% import "data/data.html" as cities %}
						{% for city in cities.citieslist %}
						<li class="city-dropdown__item">{{city.title}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end header__top-line -->

	<!-- begin header__bottom -->
	<div class="header__bottom">
		<div class="container">
			<div class="callback">
				<a href="tel: +79372213443" class="callback__phone phone" itemprop="telephone"><span>+7 937 221-34-43</span></a>
				<span class="callback__time">с 9:00 до 21:00</span>
				<a href="#callback" class="callback__link js-fancybox">Перезвоните мне</a>
			</div>

			<div class="logo">
				<a href="/" class="logo__link">
					<img src="img/general/logo.svg" alt="Logo" itemprop="logo">
				</a>
			</div>

			<!-- begin action -->
			<div class="action js-action">
				<ul class="action__list">
					<li class="action__item action__item_search search js-action__link">
						<a class="action__link js-search" href="javascript:void(0);">{{mixin.icon('search')}}</a>
						<div class="action__dropdown bg--dark search-block js-search-block">
							<h4 class=" h4 action__title">Поиск</h4>
							<span class="search__desc">поиск среди 45 000 ювелирных изделий</span>
							<span class="sa-close js-close">{{mixin.icon('close')}}</span>
							<label class="sa-input__box">
								<input class="sa-input js-sa-input js-search" type="seatch">
								<span class="sa-input__placeholder">Введите название изделия или его индекс</span>
								{{mixin.icon('search')}}
							</label>
							<div class="search__result">
								{% for i in range(0, 10) -%}
								<div class="cart-item">
									<div class="cart-item__img">
										{{mixin.img(60, 60)}}
									</div>									
									<div class="cart-item__text">
										<span class="cart-item__articul">485326</span>
										Золотая подвеска с минеральным стеклом и фианитами
									</div>
									<span class="cart-item__price">13 490 <i class="rub">a</i></span>
									<span class="cart-item__del del">
										{{mixin.icon('close')}}
									</span>
								</div>		
								{%- endfor%}
							</div>
						</div>
					</li>
					<li class="action__item action__item_use user js-action__link">
						<a class="action__link js-auth" href="javascript:void(0);">{{mixin.icon('user')}}</a>
						<div class="action__dropdown bg--dark user-enter js-user-enter">
							<h4 class="action__title">Войти</h4>
							<span class="sa-close js-auth--close js-close">{{mixin.icon('close')}}</span>
							<div class="social header__social">
								<span class="social__title">Через социальную сеть:</span>
								<ul class="social__list social__list_icon">
									<li class="social__item"><a href="#" class="social__link"><i class="fa fa-facebook"></i> </a></li>
									<li class="social__item"><a href="#" class="social__link"><i class="fa fa-twitter"></i> </a></li>
									<li class="social__item"><a href="#" class="social__link"><i class="fa fa-vk"></i> </a></li>
									<li class="social__item"><a href="#" class="social__link"><i class="fa fa-google-plus"></i></a></li>
									<li class="social__item"><a href="#" class="social__link"><i class="fa fa-instagram"></i></a></li>
								</ul>
							</div>

							<!-- begin auth -->
							<div class="auth">
								<div class="auth__tabs">
									<span class="auth__tab js-tab is-active">Телефон</span>
									<span class="auth__tab js-tab">Email</span>    
								</div>
								<div class="auth__content">
									<div class="auth__item js-tab-item">
										<label class="sa-input__box">
											<input class="sa-input js-sa-input phone-mask" type="tel">
											<span class="sa-input__placeholder">Введите Ваш номер телефона</span>
										</label>

										<div class="auth__desc">Если вы новый пользователь,  вам будет предложена регистрация и выслан пароль</div>
										<button class="btn">Войти</button>

										<div class="not-registered hidden">
											<form class="not-registered__form">
												<span class="not-registered__title">Вы незарегистрированый пользователь, <br> пожалуйста, заполните поля ниже:</span>
												<label class="sa-input__box">
													<input class="sa-input js-sa-input" type="text">
													<span class="sa-input__placeholder">Введите Ваше имя</span>
												</label>
												<label class="sa-input__box">
													<input class="sa-input js-sa-input phone-mask" type="tel">
													<span class="sa-input__placeholder">Введите Ваш номер телефона</span>
												</label>
												<button class="btn">Зарегистрироватся</button>
											</form>
										</div>
									</div>

									<div class="auth__item js-tab-item">
										<label class="sa-input__box">
											<input class="sa-input js-sa-input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
											<span class="sa-input__placeholder">Введите Ваш Email</span>
										</label>

										<div class="auth__desc">Если вы новый пользователь,  вам будет предложена регистрация и выслан пароль</div>
										<button class="btn">Войти</button>

										<div class="not-registered hidden">
											<form class="not-registered__form">
												<span class="not-registered__title">Вы незарегистрированый пользователь, <br> пожалуйста, заполните поля ниже:</span>
												<label class="sa-input__box">
													<input class="sa-input js-sa-input" type="text">
													<span class="sa-input__placeholder">Введите Ваше имя</span>
												</label>
												<label class="sa-input__box">
													<input class="sa-input js-sa-input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
													<span class="sa-input__placeholder">Введите Ваш Email</span>
												</label>
												<button class="btn">Зарегистрироватся</button>
											</form>
										</div>
									</div>
								</div>
							</div>
							<!-- end auth -->
						</div>
					</li>
					<li class="action__item action__item_favorite favorite js-action__link">
						<a class="action__link" href="javascript:void(0);">{{mixin.icon('favorite')}}</a>
						<div class="action__dropdown bg--dark">
							<h4 class="action__title">Избранное</h4>

							<div class="favorite__clean">
								<div class="favorite__img">
									<img src="../img/general/favorite-img.png" alt="Избранное" class="img-responsive">
								</div>
								<p class="favorite__desc">В избранном пока пусто. <br> Чтобы добавить украшения в избранное, воспользуйтесь каталогом нашего магазина.</p>
							</div>

							<div class="favorite__inner hidden">
								{% for i in range(0, 10) -%}
								<div class="cart-item">
									<div class="cart-item__img">
										{{mixin.img(60, 60)}}
									</div>
									<span class="cart-item__text">Золотая подвеска с минеральным стеклом и фианитами</span>
									<span class="cart-item__price">13 490 <i class="rub">a</i></span>
									<span class="cart-item__del del">
										{{mixin.icon('close')}}
									</span>
								</div>		
								{%- endfor%}	
							</div>

							<div class="cart__action">
								<a href="/favorite.html" title="Перейти в избранное" class="btn">Перейти в избранное</a>
							</div>
						</div>						
					</li>
					<li class="action__item action__item_cart cart js-action__link">
						<a class="action__link cart__link" href="javascript:void(0);">
							{{mixin.icon('card')}}
							<span>23</span>
						</a>
						<div class="action__dropdown bg--dark">
							<h4 class="action__title">Ваша корзина</h4>

							<div class="cart__clean hidden">
								<div class="favorite__img">
									<img src="../img/general/favorite-img.png" alt="Корзина" class="img-responsive">
								</div>
								<p class="favorite__desc">В корзине пока пусто. <br> Чтобы добавить украшения в карзину, воспользуйтесь каталогом нашего магазина.</p>
							</div>

							<div class="cart__inner">
								{% for i in range(0, 10) -%}
								<div class="cart-item">
									<div class="cart-item__img">
										{{mixin.img(60, 60)}}
									</div>
									<span class="cart-item__text">Золотая подвеска с минеральным стеклом и фианитами</span>
									<span class="cart-item__price">13 490 <i class="rub">a</i></span>
									<span class="cart-item__del">
										{{mixin.icon('close')}}
									</span>
								</div>
								{% endfor %}								
							</div>
							<div class="cart__action">
								<a href="/cart.html" title="Перейти в корзину" class="btn">Перейти в корзину</a>
								<div class="cart__summ"><span>Сумма:</span>32568 <i class="rub">a</i></div>
							</div>
						</div>
					</li>
				</ul>
			</div>			
			<!-- end action -->

		</div>
	</div>
	<!-- end header__bottom -->	

	{% include "partials/_menu.html" %}
	
</header>
<!-- end header -->
