<div class="container">
	<!-- begin nav -->
	<nav class="menu js-menu">
		<ul class="menu__list menu__list_gender">
			<li class="menu__item is-active"><a href="javascript:void(0);" class="menu__link">Для женщин</a></li>
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Для мужчин</a></li>
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Для детей</a></li>
		</ul>
		<ul class="menu__list menu__list_thing">
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Кольца</a></li>
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Серьги</a></li>
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Подвески</a></li>
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Цепочки</a></li>
		</ul>
		<ul class="menu__list menu__list_other">
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Бриллианты</a></li>
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Коллекции</a></li>
		</ul>
		<ul class="menu__list menu__list_sale">
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link">Акции</a></li>
			<li class="menu__item"><a href="javascript:void(0);" class="menu__link menu__link_sale">Распродажа</a></li>
		</ul>
	</nav>
	<!-- end nav -->

</div>
