{% macro icon(i, class) %}
<svg class="icon icon-{{i}} {{class}}"><use xlink:href="img/sprite.svg#icon-{{i}}"></use></svg>
{% endmacro %}

{% macro img(w, h, class) %}
<img class="{{class}}" src="http://via.placeholder.com/{{w}}x{{h}}" alt="alt">
{% endmacro %}

{% macro breadcrumbs() %}
<ul class="breadcrumbs">
	<li class="breadcrumbs__item breadcrumbs__item_back"><a href="javascript:void(0);" class="breadcrumbs__link"><i class="fa fa-long-arrow-left"></i>Назад</a></li>
	<li class="breadcrumbs__item"><a href="javascript:void(0);" class="breadcrumbs__link">Главная</a></li>
	<li class="breadcrumbs__item"><a href="javascript:void(0);" class="breadcrumbs__link">Каталог</a></li>
	<li class="breadcrumbs__item breadcrumbs__item_count">Подвески<span>286</span></li>
</ul>
{% endmacro %}