<div class="hidden">
	<!-- begin popup-howsize -->
	<div id="howsize" class="howsize popup bg--dark">

		<h3 class="popup__title">Как выбрать размер?</h3>
		<p class="popup__desc">Возьмите измерительную ленту (также подойдет любой шнурок, нитка, которую потом можно измерить по линейке). Измерьте внутреннюю сторону вашего кольца (или того человека, которому вы делаете подарок). Если кольца нет, просто измерьте окружность пальца, на котором будут носить кольцо. Результат появится в третьей строке: "Ваш размер кольца". Укажите его при покупке.</p>

		<div class="extra-item extra-item_ring js-extra-item">
			Измерьте окружность кольца (мм):
			<div class="extra-item__dropdown">
				<ul class="size__list">
					<ul>
						<li class="size__item">10</li>
						<li class="size__item">11</li>
						<li class="size__item">12</li>
						<li class="size__item">13</li>
					</ul>
					<ul>
						<li class="size__item">50</li>
						<li class="size__item">52</li>
						<li class="size__item">53</li>
						<li class="size__item">54</li>
					</ul>
					<ul>
						<li class="size__item">55</li>
						<li class="size__item">56</li>
						<li class="size__item">57</li>
						<li class="size__item">58</li>
					</ul>
					<ul>
						<li class="size__item">59</li>
						<li class="size__item">60</li>
						<li class="size__item">61</li>
						<li class="size__item">62</li>
					</ul>
				</ul>
			</div>
		</div>

		<div class="extra-item extra-item_finger js-extra-item">
			Измерьте окружность пальца (мм):
			<div class="extra-item__dropdown">
				<ul class="size__list">
					<ul>
						<li class="size__item">47</li>
						<li class="size__item">48</li>
						<li class="size__item">49</li>
						<li class="size__item">50</li>
					</ul>
					<ul>
						<li class="size__item">51</li>
						<li class="size__item">52</li>
						<li class="size__item">53</li>
						<li class="size__item">54</li>
					</ul>
					<ul>
						<li class="size__item">55</li>
						<li class="size__item">56</li>
						<li class="size__item">57</li>
						<li class="size__item">58</li>
					</ul>
					<ul>
						<li class="size__item">59</li>
						<li class="size__item">60</li>
						<li class="size__item">61</li>
						<li class="size__item">62</li>
					</ul>
				</ul>
			</div>
		</div>

		<div class="howsize__result">Ваш результат: <span>17</span></div>
	</div>
	<!-- end popup-howsize -->
	<!-- begin popup-nomysize -->
	<div id="nomysize" class="nomysize popup bg--dark">

		<h3 class="popup__title">Сообщить о наличии</h3>
		<p class="popup__desc">Чтобы узнать когда изделие появится в магазинах вашего города, укажите имя и e-mail. Мы обязательно свяжемся с вами.</p>

		<form class="nomysize__form">
			<label class="sa-input__box">
				<input class="sa-input js-sa-input" type="text">
				<span class="sa-input__placeholder">Введите Ваше имя</span>
			</label>
			<label class="sa-input__box">
				<input class="sa-input js-sa-input phone-mask" type="tel">
				<span class="sa-input__placeholder">Введите Ваш номер телефона</span>
			</label>
			<label class="sa-input__box">
				<input class="sa-input js-sa-input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
				<span class="sa-input__placeholder">Введите Ваш Email</span>
			</label>
			<div class="extra-item js-extra-item">
				<span>Выбирете размер</span>
				<div class="extra-item__dropdown">
					<ul class="size__list">
						<ul>
							<li class="size__item">16</li>
							<li class="size__item">16.5</li>
							<li class="size__item">17</li>
							<li class="size__item">17.5</li>
						</ul>
						<ul>
							<li class="size__item">18</li>
							<li class="size__item">18.5</li>
							<li class="size__item">19</li>
							<li class="size__item">19.5</li>
						</ul>
						<ul>
							<li class="size__item">20</li>
							<li class="size__item">20.5</li>
							<li class="size__item">21</li>
							<li class="size__item">21.5</li>
						</ul>
					</ul>
				</div>
			</div>
			<button class="btn">Отправить</button>
		</form>
	</div>
	<!-- end popup-nomysize -->
	<!-- begin popup-wherebuyit -->
	<div id="wherebuyit" class="wherebuyit popup bg--dark">

		<h3 class="popup__title">Наши магазины находятся</h3>

		<div class="map__wrap">
			<div id="map" class="map"></div>
			<button class="btn btn_shops js-map-shops">магазины</button>
			<div class="map__text">
				<div class="sa-close js-map-text-close">{{mixin.icon('close')}}</div>
				<h3 class="map__title">Магазины в</h3>
				<div class="map__city">
					<div class="city js-city-hover">
						<span class="city__title">Балаково</span>
						<div class="city__inner">
							<ul class="city-dropdown">
								{% import "data/data.html" as cities %}
								{% for city in cities.citieslist %}
								<li class="city-dropdown__item">{{city.title}}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
				<div class="map__shops">
					<div class="map-shop">
						<h4 class="map-shop__title">Тц, ГринХаус, Салон Sunangel</h4>
						<span class="map-shop__place">ул. Трнавская, 24</span>
						<span class="map-shop__phone"><i class="fa fa-phone-square"></i>+7 (999) 000-00-00</span>
						<span class="map-shop__time"><i class="fa fa-clock-o"></i>10:00 — 20:00</span>
					</div>
				</div>
				<div class="map__shops">
					<div class="map-shop">
						<h4 class="map-shop__title">Тц, Оранж, Салон Sunangel</h4>
						<span class="map-shop__place">ул. Волжская, 4</span>
						<span class="map-shop__phone"><i class="fa fa-phone-square"></i>+7 (999) 000-00-00</span>
						<span class="map-shop__time"><i class="fa fa-clock-o"></i>10:00 — 20:00</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end popup-wherebuyit -->
	<!-- begin popup-callback -->
	<div id="callback" class="popup bg--dark">

		<h3 class="popup__title">Обратный звонок</h3>

		<label class="sa-input__box">
			<input class="sa-input js-sa-input phone-mask" type="phone">
			<span class="sa-input__placeholder">Введите Ваш номер телефона</span>
		</label>

		<label class="sa-input__box">
			<input class="sa-input js-sa-input" type="text">
			<span class="sa-input__placeholder">Введите Ваше имя</span>
		</label>

		<button class="btn">Заказать звонок</button>

		<p class="popup__desc">Наш менеджер свяжется с Вами <br> в ближайшее время и ответит на все вопросы</p>
	</div>
	<!-- end popup-callback -->

	<!-- begin popup-promocode -->
	<div id="promocode" class="popup popup_lg bg--dark promocode">

		<h3 class="popup__title"> <span>Промокод</span> <br> в подарок</h3>

		<div class="popup__img"><img src="img/general/promocode.png" alt="Промокод"></div>
		<span class="popup__number">500 <span class="rub">a</span></span>

		<div class="promocode__inner">
			<label class="sa-input__box">
				<input class="sa-input js-sa-input" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
				<span class="sa-input__placeholder">Введите Ваш email</span>
				<p class="popup__desc">Промокод на 500 рублей будет выслан на Ваш почтовый ящик</p>
			</label>



			<div class="popup__buttons">
				<button class="btn btn_checkout">получить</button>
				<button class="btn btn_int js-popup--close">мне не интересно</button>
			</div>
		</div>
	</div>
	<!-- end popup-promocode -->

	<!-- begin popup-sale -->
	<div id="sale" class="popup popup_lg bg--dark sale">

		<h3 class="popup__title"> <span>Закрытая</span> <br>распродажа</h3>

		<div class="popup__inner">
			<div class="popup__img"><img src="img/general/popup-sale.png" alt="Распродажа"></div>
			<div class="promocode__inner">
				<p class="popup__desc">Воспользуйтесь <br> скидкой по приглошению  <br> от 01.1217 до 20.0118</p>
				<div class="popup__buttons">
					<button class="btn btn_trans">Узнать подробности</button>
					<button class="btn btn_int js-popup--close">мне не интересно</button>
				</div>
			</div>
		</div>		
	</div>
	<!-- end popup-sale -->

	<!-- begin basket-in -->
	<div id="basket-in" class="popup popup_lg bg--dark basket-in">

		<h3 class="popup__title">Товар добавлен в корзину</h3>
		<div class="popup__buttons">
			<a href="/basket.html" class="btn btn_popup btn_popup-basket">Перейти в корзину</a>
			<a href="javascript:void(0);" class="btn btn_popup btn_popup-next js-popup--close">Продолжить покупки</a>
		</div>		
	</div>
	<!-- end basket-in -->

	<!-- begin favorite-in -->
	<div id="favorite-in" class="popup popup_lg bg--dark favorite-in">

		<h3 class="popup__title">Товар добавлен в избранное</h3>
		<div class="popup__buttons">
			<a href="/basket.html" class="btn btn_popup btn_popup-basket">Перейти в избранное</a>
			<a href="javascript:void(0);" class="btn btn_popup btn_popup-next js-popup--close">Продолжить покупки</a>
		</div>		
	</div>
	<!-- end favorite-in -->
</div>