<!-- begin main-slider -->
<div class="slider__wrap main-slider">
	<div class="slider js-slider">
		<div class="slider__item">
			<div class="slider__img">
				<picture>
					<source srcset="img/general/home-slide-2-min.jpg" media="(max-width: 480px)">
					<source srcset="img/general/home-slide.png">
					<img src="img/general/home-slide.png" alt="alt">
				</picture>
			</div>
			<div class="slider__text">
				<h1 class="h1 slider__title">Бриллианты <br> и золото</h1>
				<div class="slider__desc">Благородный блеск золото в окружении ослепительных чистых бриллиантов – украшения, с которыми вам не захочется расставаться ни днем, ни ночью!</div>
				<a href="#" class="slider__link btn btn_trans">Смотреть</a>
			</div>
		</div>
		<div class="slider__item slider__item_right">
			<div class="slider__img">
				<picture>
					<source srcset="img/general/home-slide-2-min.jpg" media="(max-width: 480px)">
					<source srcset="img/general/home-slide-2.png">
					<img src="img/general/home-slide-2.png" alt="alt">
				</picture>
			</div>
			<div class="slider__text">
				<h1 class="h1 slider__title">Бриллианты <br> и золото</h1>
				<div class="slider__desc">Благородный блеск золото в окружении ослепительных чистых бриллиантов – украшения, с которыми вам не захочется расставаться ни днем, ни ночью!</div>
				<a href="#" class="slider__link btn btn_trans">Смотреть</a>
			</div>
		</div>
	</div>
	<div class="slider__dots"></div>
</div>
<!-- end main-slider