<!-- begin main-slider -->
<div class="slider__wrap main-slider">
	<div class="slider js-slider">
		{% for i in range(0, 4) -%}
		<div class="slider__item">
			<div class="slider__img">
				<picture>
					<source srcset="img/general/home-slide-2-min.jpg" media="(max-width: 480px)">
					<source srcset="img/general/slider-img.png">
					<img src="img/general/slider-img.png" alt="alt">
				</picture>
					</div>
					<div class="slider__text">
						<h1 class="h1 slider__title">Бриллианты <br> и золото</h1>
						<div class="slider__desc">Благородный блеск золото в окружении ослепительных чистых бриллиантов – украшения, с которыми вам не захочется расставаться ни днем, ни ночью!</div>
						<a href="#" class="slider__link btn btn_trans">Смотреть</a>
					</div>
				</div>
				{%- endfor %}﻿
			</div>
			<div class="slider__dots"></div>
		</div>
<!-- end main-slider