.address {
  width: 1em;
  height: 1em;
  fill: initial;
}
.card {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.cart {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.close {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.dilevery {
  width: 0.75em;
  height: 1em;
  fill: #606060;
}
.favorite-img {
  width: 1em;
  height: 1em;
  fill: #3e3e3e;
}
.favorite {
  width: 1em;
  height: 1em;
  fill: initial;
}
.history-order {
  width: 1em;
  height: 1em;
  fill: initial;
}
.logo {
  width: 3.95em;
  height: 1em;
  fill: #1a1a1a;
}
.pay-method {
  width: 1em;
  height: 1em;
  fill: initial;
}
.personal-data {
  width: 1em;
  height: 1em;
  fill: initial;
}
.quality {
  width: 1.01em;
  height: 1em;
  fill: #606060;
}
.search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.service {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.user {
  width: 1em;
  height: 1em;
  fill: #95989a;
}
