.icon-address {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-card {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.icon-cart {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-dilevery {
  width: 0.75em;
  height: 1em;
  fill: #606060;
}
.icon-favorite-img {
  width: 1em;
  height: 1em;
  fill: #3e3e3e;
}
.icon-favorite {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-history-order {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 3.95em;
  height: 1em;
  fill: #1a1a1a;
}
.icon-pay-method {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-personal-data {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-quality {
  width: 1.01em;
  height: 1em;
  fill: #606060;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-service {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #95989a;
}
