.icon-card {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.icon-close {
  width: 1em;
  height: 1em;
  fill: #010002;
}
.icon-favorites {
  width: 1.14em;
  height: 1em;
  fill: #606060;
}
.icon-logo {
  width: 3.95em;
  height: 1em;
  fill: #1a1a1a;
}
.icon-search {
  width: 1em;
  height: 1em;
  fill: #606060;
}
.icon-user {
  width: 1em;
  height: 1em;
  fill: #606060;
}
