$icons: (0:0)
$icons: map-merge($icons,('add-to-card': (X: -367px, Y:-137px, W: 18px, H: 19px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('cart': (X: -130px, Y:-107px, W: 115px, H: 102px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('dilevery': (X: 0px, Y:-237px, W: 102px, H: 136px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('favorite': (X: -367px, Y:-166px, W: 17px, H: 16px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('filtr-btn': (X: -291px, Y:-237px, W: 21px, H: 13px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('filtr__btn': (X: -260px, Y:-237px, W: 21px, H: 13px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('gift': (X: -367px, Y:-192px, W: 16px, H: 15px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('location': (X: -112px, Y:-267px, W: 11px, H: 14px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone': (X: -367px, Y:-107px, W: 20px, H: 20px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('price-border': (X: 0px, Y:0px, W: 387px, H: 97px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('quality': (X: -255px, Y:-107px, W: 102px, H: 101px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sale': (X: -186px, Y:-237px, W: 64px, H: 20px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sale_clean': (X: -112px, Y:-237px, W: 64px, H: 20px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('service': (X: 0px, Y:-107px, W: 120px, H: 120px, TW: 387px, TH: 373px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-add-to-card
//  width: 18px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -367px -137px
//
//.icon-cart
//  width: 115px
//  height: 102px
//  background-image: url('../img/sprite.png')
//  background-position: -130px -107px
//
//.icon-dilevery
//  width: 102px
//  height: 136px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -237px
//
//.icon-favorite
//  width: 17px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: -367px -166px
//
//.icon-filtr-btn
//  width: 21px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: -291px -237px
//
//.icon-filtr__btn
//  width: 21px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: -260px -237px
//
//.icon-gift
//  width: 16px
//  height: 15px
//  background-image: url('../img/sprite.png')
//  background-position: -367px -192px
//
//.icon-location
//  width: 11px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -112px -267px
//
//.icon-phone
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -367px -107px
//
//.icon-price-border
//  width: 387px
//  height: 97px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-quality
//  width: 102px
//  height: 101px
//  background-image: url('../img/sprite.png')
//  background-position: -255px -107px
//
//.icon-sale
//  width: 64px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -186px -237px
//
//.icon-sale_clean
//  width: 64px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -112px -237px
//
//.icon-service
//  width: 120px
//  height: 120px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -107px
//