$icons: (0:0)
$icons: map-merge($icons,('add-to-card': (X: -178px, Y:-107px, W: 18px, H: 19px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('favorite': (X: 0px, Y:-137px, W: 17px, H: 16px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('filtr__btn': (X: -206px, Y:-107px, W: 21px, H: 13px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('gift': (X: -27px, Y:-137px, W: 16px, H: 15px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('location': (X: -53px, Y:-137px, W: 11px, H: 14px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone': (X: -148px, Y:-107px, W: 20px, H: 20px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('price-border': (X: 0px, Y:0px, W: 387px, H: 97px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sale': (X: 0px, Y:-107px, W: 64px, H: 20px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sale_clean': (X: -74px, Y:-107px, W: 64px, H: 20px, TW: 387px, TH: 153px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-add-to-card
//  width: 18px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -178px -107px
//
//.icon-favorite
//  width: 17px
//  height: 16px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -137px
//
//.icon-filtr__btn
//  width: 21px
//  height: 13px
//  background-image: url('../img/sprite.png')
//  background-position: -206px -107px
//
//.icon-gift
//  width: 16px
//  height: 15px
//  background-image: url('../img/sprite.png')
//  background-position: -27px -137px
//
//.icon-location
//  width: 11px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -53px -137px
//
//.icon-phone
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -148px -107px
//
//.icon-price-border
//  width: 387px
//  height: 97px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-sale
//  width: 64px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: 0px -107px
//
//.icon-sale_clean
//  width: 64px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -74px -107px
//