$icons: (0:0)
$icons: map-merge($icons,('add-to-card': (X: -221px, Y:-30px, W: 18px, H: 19px, TW: 255px, TH: 181px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('favorite-img': (X: 0px, Y:0px, W: 181px, H: 181px, TW: 255px, TH: 181px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('location': (X: -191px, Y:-60px, W: 11px, H: 14px, TW: 255px, TH: 181px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('phone': (X: -191px, Y:-30px, W: 20px, H: 20px, TW: 255px, TH: 181px, IMG: '../img/sprite.png')))
$icons: map-merge($icons,('sale': (X: -191px, Y:0px, W: 64px, H: 20px, TW: 255px, TH: 181px, IMG: '../img/sprite.png')))


// Gets an attribute from the sass map
@function icon-attr($icon, $attr)
  $icon: map-get($icons, $icon)
  @return map-get($icon, $attr)

@mixin sprite($iconName)
  background-image: url(icon-attr($iconName, IMG))
  width: icon-attr($iconName, W)
  height: icon-attr($iconName, H)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-position($iconName)
  background-position: icon-attr($iconName, X) icon-attr($iconName, Y)
@mixin sprite-retina($iconName)
  background-image: url(icon-attr($iconName, IMG))
  $width: icon-attr($iconName, W)
  $height: icon-attr($iconName, H)
  width: $width/2
  height: $height/2
  $x: icon-attr($iconName, X)
  $y: icon-attr($iconName, Y)
  background-position: $x/2 $y/2
  $tw: icon-attr($iconName, TW)   
  $th: icon-attr($iconName, TH)
  background-size: $tw/2 $th/2    


@mixin s($i)
  +sprite($i)
@mixin sp($i)
  +sprite-position($i)
@mixin sr($i)
  +sprite-retina($i)  

//
//.icon-add-to-card
//  width: 18px
//  height: 19px
//  background-image: url('../img/sprite.png')
//  background-position: -221px -30px
//
//.icon-favorite-img
//  width: 181px
//  height: 181px
//  background-image: url('../img/sprite.png')
//  background-position: 0px 0px
//
//.icon-location
//  width: 11px
//  height: 14px
//  background-image: url('../img/sprite.png')
//  background-position: -191px -60px
//
//.icon-phone
//  width: 20px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -191px -30px
//
//.icon-sale
//  width: 64px
//  height: 20px
//  background-image: url('../img/sprite.png')
//  background-position: -191px 0px
//