{% set
citieslist = [
	{
		title: 'Саратов'
	},
	{
		title: 'Вольск'
	},
	{
		title: 'Москва'
	},
	{
		title: 'Маями'
	},
	{
		title: 'Лос-Анжелес'
	},
	{
		title: 'gfdgdfg'
	},
	{
		title: 'Волdgdfgdьск'
	},
	{
		title: 'Мосdgfgква'
	},
	{
		title: 'Маяdgdfgми'
	},
	{
		title: 'Лос-Анfdgжелес'
	}
]
%}

{% set 
filter = [
	{
		brand: 'blahhh',
		title: 'Вид украшения',
		view: 'Кольца',
		insert: 'Без вставок',
		metal: 'Золото',
		whatMetal: 'Белое золото',
		theme: 'Любовь',
		for: 'Для детей',
		color: '#222222'
	},
	{
		brand: 'blahhh',
		title: 'Метал',
		view: 'Серьги',
		insert: 'Брилиант',
		metal: 'Серебро',
		whatMetal: 'Красное золото',
		theme: 'Ажур',
		for: 'Для женщин',
		color: '#feb219'
	},
	{
		brand: 'blahhh',
		title: 'Вставка',
		view: 'Броши',
		insert: 'Фианит',
		metal: 'Паладий',
		whatMetal: 'Комбинированное золото',
		theme: 'Бабочка',
		for: 'Для мужчин',
		color: '#3d55d5'
	},
	{
		brand: 'blahhh',
		title: 'Бренд',
		view: 'Браслеты',
		insert: 'Swarovski Zirconia',
		class: 'hidden',
		metal: 'Платина',
		whatMetal: 'Желтое золото',
		theme: 'Бантики',
		color: '#28a4e7'
	},
	{
		view: 'Цепи',
		insert: 'Жемчуг Swarovski',
		class: 'hidden',
		theme: 'Бантики',
		color: '#5cb130'
	},
	{
		view: 'Колье',
		insert: 'Кристалл Swarovski',
		class: 'hidden',
		theme: 'Геометрия',
		color: '#f36b2b'
	},
	{
		view: 'Котлье',
		insert: 'Топаз Swarovski',
		class: 'hidden',
		color: '#e6382f'
	},
	{
		color: '#8c449e'
	},
	{
		color: '#9d9d9d'
	},
	{
		color: '#181818'
	}
]
%}
{% set
basketPay = [
	{
		title: 'Полная предоплата',
		money: 'Сейчас надо заплатить:'
	},
	{
		title: 'Оплата при получении товара',
		money: 'Вы должны будите отдать курьеру наличными:'
	},
	{
		title: 'Купить в кредит',
		money: 'В месяц:'
	}
]
%}